.cursor {
    cursor: pointer;
}

.MuiInputBase-formControl {
    height: 40px !important;
    border-radius: 10px !important;
}

.header-label {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.045px;
    color: rgb(88, 87, 87);
}
.mb-1 {
    margin-bottom: 10px;
}
.mr-1{
  margin-right: 10px;
}

