//colors
$primary-color: #005c71;
$secondary-color: #6c757d;
$font-family: 'Arial', sans-serif;
$sidebar-color: #005c71;
$sidebar-selected-item-color: #006a82;

//size
$sidebar-width: 270px;
$header-background: #ffffff;

//text
$text-primary-black: #262626;
$variable-prefix: vz-;
$primary: #035DB5;
$white: #FFFFFF;
$light: #e9ebec;